@font-face {
  font-family: 'ubuntu';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/ubuntu-regular.woff2') format('woff2'),
       url('/fonts/ubuntu-regular.woff') format('woff');
}

@font-face {
  font-family: 'rontundus';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/rontudus.woff2') format('woff2'),
       url('/fonts/rontudus.woff') format('woff');
}

@font-face {
  font-family: 'ubuntu-italic';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/ubuntu-italic.woff2') format('woff2'),
       url('/fonts/ubuntu-italic.woff') format('woff');
}

@font-face {
  font-family: 'ubuntu-bold';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/ubuntu-bold.woff2') format('woff2'),
       url('/fonts/ubuntu-bold.woff') format('woff');
}

@font-face {
  font-family: 'ubuntu-bold-italic';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/ubuntu-bold-italic.woff2') format('woff2'),
       url('/fonts/ubuntu-bold-italic.woff') format('woff');
}
