.home {
  background-image: url("/files/home-480.jpg");
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 800px) {
    background-image: url("/files/home-800.jpg");

    .title-site--slogan {
      display: block;
    }
  }

  @media (min-width: 1280px) {
    background-image: url("/files/home-1280.jpg");
  }

  @media (min-width: 1920px) {
    background-image: url("/files/home-1920.jpg");
  }


  .title-site--img {
    background-image: url("/img/header-logo.svg");
  }

  .title-site--txt {
    background-image: url("/img/header-title.svg");
  }

  .title-main {
    display: none;
  }

  .hero-logo {
    display: block;
    height: 30rem;
    margin: 2rem auto 0 auto;
  }

  main {
    padding: 0;
  }

  main p {
    margin: 0;
  }

  footer {
    background-color: rgba($secondary, 0.8);
    color: $white;

    a {
      color: $white;
    }
  }
}
