// Body.

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // min-height: 100vh;
}

// Wrapper.

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $margin;

  .lieux main &,
  .events main &,
  .page-event main {
    max-width: none;
    padding: 0;
  }

  @media (min-width: 30rem) {
    .footer & {
      // padding: 0 $margin;
    }
  }
}

// Menu

.header .menu-item a {
  display: inline-block;
  padding: $margin/4;
  border-bottom: $onepix*2 solid $white;
  color: $white;
  text-decoration: none;
  transition: border-color $transition-duration;
  white-space: nowrap;

  &:focus,
  &:hover {
    border-color: $tertiary;
    color: $tertiary;
  }
}

// Main.

main {
  flex-grow: 2;
}

.title-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 2.5rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

  }

  &::before {
    margin-bottom: $margin/2;
    background-image: url("/img/h1-before.svg");
  }

  &::after {
    margin-top: $margin/2;
    background-image: url("/img/h1-after.svg");
  }
}

.content-main--header {
  padding: 0 $margin;
}

// Footer.

// .footer {
//   // padding: $margin/2 0;
//   // margin-top: $margin/2;
//   background-color: $primary;
//   color: $white;
//   font-size: $fs14;

//   // nav,
//   // ul {
//   //   width: 100%;
//   // }

//   // ul {
//   //   justify-content: center;

//   //   li {
//   //     margin: 0 $margin/2 $margin/2 $margin/2;
//   //   }
//   // }

//   a {
//     color: $white;
//     text-decoration: none;

//     &:focus,
//     &:hover {
//       text-decoration: underline;
//     }

//     &:active {
//       color: $tertiary;
//     }
//   }
// }
// header.wrapper
  // .wrapper {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   align-items: center;

  //   @media (min-width: 36rem) {
  //     justify-content: space-between;
  //   }

// List utilities
ul.is-quiet,
ul.is-inline,
ul.is-inline-fancy {
  margin: 0;
  list-style: none;
  li {
    padding-left: 0;
    margin-bottom: 0;
  }
}
ul.is-inline li { display: inline-block; }
ul.is-inline-fancy li {  display: inline-block; }
ul.is-inline-fancy li:not(:last-child)::after {  content: " · "; }


// Generic menu
.menu-item,
.menu-label {
  display: block;
  margin: $margins-small;
  &:last-child { margin-right: 0; }
}
.menu-label {
  text-transform: uppercase;
  margin: 0;
  opacity: 0.8;
}
.menu-item {
  ul {
    margin-left: 0;
    list-style-type: none;
    li {
      padding-left: 0;
    }
  }
}

@media (min-width: 48rem) {
  .menu,
  .menu-section-left,
  .menu-section-right {
    display: flex;
    align-items: flex-start;
    &.has-text-top { align-items: normal; }
  }
  .menu-section-right,
  .menu-section-left {
    // flex-basis: auto;
    // flex-grow: 0;
    // flex-shrink: 0;
  }
  .menu {
    justify-content: space-between;
    &-item {
      margin-top: $margins-compact;
      // margin-left: $margin;
      margin-right: $margin;
    }
    &-item :first-child:not(.menu-label) { margin-top: 0; }
    // &:first-of-type { margin-left: 0;}
    &:last-of-type { margin-right: 0;}
    &-section-left { justify-content: flex-rdv; }
    &-section-right { justify-content: flex-end; }

  }
}
