// Body.

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // min-height: 100vh;
}

// Wrapper.

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $margin;

  .lieux main &,
  .events main &,
  .page-event main {
    max-width: none;
    padding: 0;
  }
}

// Menu

.header .menu-item a {
  display: inline-block;
  padding: calc($margin / 4);
  border-bottom: $onepix*2 solid $brand-color-invert;
  color: $brand-color-invert;
  text-decoration: none;
  transition: border-color $transition-duration;
  white-space: nowrap;

  &:focus,
  &:hover {
    border-color: $brand-color-secondary;
    color: $brand-color-invert;
  }
}

// Main.

main {
  flex-grow: 2;
}

.title-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.content-main--header {
  padding: 0 $margin;
}

// List utilities
ul.is-quiet,
ul.is-inline,
ul.is-inline-fancy {
  margin: 0;
  list-style: none;
  li {
    padding-left: 0;
    margin-bottom: 0;
  }
}
ul.is-inline li { display: inline-block; }
ul.is-inline-fancy li {  display: inline-block; }
ul.is-inline-fancy li:not(:last-child)::after {  content: " · "; }


// Generic menu
.menu-item,
.menu-label {
  display: block;
  margin: $margins-small;
  &:last-child { margin-right: 0; }
}
.menu-label {
  text-transform: uppercase;
  margin: 0;
  opacity: 0.8;
}
.menu-item {
  ul {
    margin-left: 0;
    list-style-type: none;
    li {
      padding-left: 0;
    }
  }
}

@media (min-width: 48rem) {
  .menu,
  .menu-section-left,
  .menu-section-right {
    display: flex;
    align-items: flex-start;
    &.has-text-top { align-items: normal; }
  }
  .menu {
    justify-content: space-between;
    &-item {
      margin-top: $margins-compact;
      // margin-left: $margin;
      margin-right: $margin;
    }
    &-item :first-child:not(.menu-label) { margin-top: 0; }
    // &:first-of-type { margin-left: 0;}
    &:last-of-type { margin-right: 0;}
    &-section-left { justify-content: flex-rdv; }
    &-section-right { justify-content: flex-end; }

  }
}

//  Utilities
.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nnowrap;
  border-width: 0;
}

.icon {
  display: inline-flex;
  max-width: $line-height;
  margin-right: calc($line-height / 6);
  margin-left: calc($line-height / 6);
}
