.page-page .content-main {
  padding-bottom: calc($margin * 2);
}

.page-page.lieux .content-main {
  padding-bottom: 0;
}

// Partenaires.

.partenaires .content-main {
  // & p {
  //   position: relative;
  //   &::before {
  //     content: " ";
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     left: 0;
  //     z-index: 1;
  //     background-color: $brand-color;
  //     mix-blend-mode: screen;
  //   }
  // }
  & img {
    display: inline-block;
    max-width: 7rem;
    height: 5rem;
  }
}
