// Fonts families

$brand-font: sans-serif;
$brand-font-italic: sans-serif;
$brand-font-bold: sans-serif;
$brand-font-bold-italic: sans-serif;

// Font sizes

$fs36: 2.25rem;
$fs32: 2rem;
$fs24: 1.5rem;
$fs20: 1.25rem;
$fs18: 1.125rem;
$fs16: 1rem;
$fs14: 0.875rem;
$fs12: 0.75rem;
$line-height: 1.25rem;

// Font weight
$bold: 700;

// Colors
/**
Couleurs de la saison 2022
- blanc: #FFFFFF
- gris clair : #E5E5E5
- gris rose : #D3A7B8
- orange : #ED6E46
- orange clair : #F1895D
- violet : #544595
*/

$primary: #544595;
$secondary: #ED6E46;
$tertiary: #F1895D;
$primary-invert: white;

$brand-color: $primary;
$brand-color-invert: $primary-invert;
$brand-color-secondary: $secondary;

$white: #fff;
$grey-light: #f4f4f4;
$grey: #e1e1e1;
$grey-dark: #777;
$black-light: #222;
$black: #000;

$text-color: #054059;
$text-color-invert: $white;

// Margins, paddings, borders.

$onepix: 0.0625rem;
$margin: 1.25rem; // 20px
$margins: 0 0 $line-height 0;
$margins-large: 0 0 calc($line-height * 2) 0;
$margins-small: 0 0 calc($line-height / 2) 0;
$margins-compact: 0 0 0.5rem 0;
$padding: 1.25rem;
$paddings-small: 0.35rem 0.8rem 0.2rem;
$paddings: 0.6rem 0.8rem 0.4rem;
$paddings-large: 1.6rem 1.5rem 1.5rem;
$border: $onepix * 3 solid transparent;
$border-radius: 4 * $onepix;

// Media queries

$mq-480: 30em;
$mq-640: 40em;
$mq-960: 60em;
$mq-1600: 100em;

// Animations

$transition-duration: 0.4s;
